@media only screen and (max-width: 991px) {
  .nav_medium {
    display: flex;
    flex-basis: auto;
    justify-content: end !important;
  }
}
@media only screen and (max-width: 572px) {
  .who_we_are {
    margin-top: 7rem;
  }
}
* {
  box-sizing: border-box;
}

/* body {
   
}*/
@font-face {
  font-family: myFirstFont;
  src: url(../font/Nunito/static/Nunito-Regular.ttf);
  /* font-weight: bold; */
  font-size: 14px;
  /* color: #000; */
}

div {
  font-family: myFirstFont;
}
.page-banner {
  position: relative;
  background: url(../img/banner/who_banner_1.png) center center no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 480px;
}
.font_cg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* vertical line  */
.vl {
  border-left: 6px solid rgba(29, 104, 184, 0.9);
  height: 40px;
}
.img_float {
  float: left;
}
.bg_footer {
  background: url() center center no-repeat;
}
/* for parallex image  */
.parallax {
  background-image: url("../img/footer@3x.png");
  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.socio_site {
  color: white;
}
.test_1 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color_nav {
  color: #2f3985 !important;
}
.hero {
  position: relative;
}
.banner_image {
  position: relative;
  z-index: -1;
}
.banner_shape {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}
.banner_shape-sm {
  position: absolute;
  z-index: 0;
  top: 60%;
  left: 0;
}

.page-banner-text {
  position: absolute; /* just positions the text on the right of the cirecle */
  top: 50%;
  transform: translateY(-50%);
  /* padding: 2em; */
  width: 30%;
}

.page-banner-text_sm {
  position: absolute; /* just positions the text on the right of the cirecle */
  top: 90%;
  left: 5%;
  transform: translateY(-50%);
  /* padding: 2em; */
  width: 80%;
}

/* Accrodine code opened */
.accordion {
  background-color: #1b5fa7;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
/* 
.active, .accordion:hover {
  background-color: #004b9b;
} */

.accordion:after {
  content: "\002B";
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
/* 
.active:after {
  content: "\2212";
} */

.panel {
  padding: 0 18px;
  background-color: #bccfe4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion_color {
  background-color: #95bce5 !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  /* margin-top: 0px; */
  margin: auto !important;
}
.sm_nav {
  font-size: 11px;
  font-weight: bold;
  padding: 20px;
}
.lg-nav {
  font-size: 14px;
  font-weight: bolder;
}
.btn-outline-color {
  background-color: #2f3985 !important;
}
.btn-color {
  background-color: #2f3985 !important;
}

#type {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  padding: 0 2rem;
  font-weight: 600;
}
.text_aligining {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.approach_card_image {
  background: url(../img/approach/approach_1.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_support {
  position: relative;
  top: 0%;
  margin-bottom: 60px;
}
.card_img {
  position: absolute;
  top: -0%;
  left: 65%;
  z-index: 1;
  margin-top: 20px;
}
.card_text {
  position: absolute;
  top: 20%;
}
.bg_color {
  background-color: #a373b1 !important;
}
.bg_color_1 {
  background-color: #d4a433 !important;
}
.bg_color_2 {
  background-color: #d67a5b !important;
}
.bg_color_3 {
  background-color: #87aa4d !important;
}
.bg_color_4 {
  background-color: #34a1b9 !important;
}
.bg_color_5 {
  background-color: #39aa7b !important;
}
